[package]
name = "steward"
version = "0.1.0"
edition = "2021"
license = "AGPL-3.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
der = { git = "https://github.com/npmccallum/formats", branch = "steward", features = ["std"] }
pkcs8 = { git = "https://github.com/npmccallum/formats", branch = "steward" }
sec1 = { git = "https://github.com/npmccallum/formats", branch = "steward", features = ["std"] }
spki = { git = "https://github.com/npmccallum/formats", branch = "steward" }
x509 = { git = "https://github.com/npmccallum/formats", branch = "steward", features = ["std"] }
ring = { version = "0.16.20", features = ["std"] }
zeroize = { version = "^1.5.2", features = ["alloc"] }

tracing-subscriber = { version="^0.3.8", features = ["env-filter"] }
axum = { version = "^0.4.3", features = ["headers"] }
clap = { version = "^3.0.14", features = ["derive"] }
hyper = { version = "^0.14.17", features = ["full"] }
tokio = { version = "^1.15.0", features = ["full"] }
tracing = "^0.1.29"
anyhow = "^1.0.55"
mime = "^0.3.16"

[dev-dependencies]
tower = { version = "^0.4.11", features = ["util"] }
http = "^0.2.6"
