name: Test
on: [ push, pull_request ]
jobs:
  native:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: install ssl-dev
      run: sudo apt-get -y install libssl-dev libcrypt-dev
    - name: Setup Rust toolchain
      run: rustup show
    - name: cargo test
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --workspace --all-features

  wasi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Rust toolchain
        run: rustup show
      # Put this back when Enarx is able to receive TCP configuation from the command line.
      #- name: Download enarx
      #  run: curl -sLO https://github.com/enarx/enarx/releases/download/v0.6.4/enarx-0.6.4-1_amd64.deb
      #- name: Install enarx
      #  run: sudo dpkg -i enarx-0.6.4-1_amd64.deb
      - name: Download Wasmtime
        run: cargo install wasmtime-cli
      - name: Check wasmtime version
        run: wasmtime --version
      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features --target=wasm32-wasi
